In [89]:
import requests

tabla_url = "https://e2jaochskab4mlg3v5sb6uimuy0pnhov.lambda-url.us-east-1.on.aws/"
response = requests.request("GET", tabla_url)
list_ids=response.json()
ids=['<strong> Tabla de Posiciones:</strong>','']
for i,x in enumerate(list_ids):
    a=x['name']
    ids.append(str(i+1) + '{0: <35}'.format(a) + str(0))

In [92]:
ids=[' Tabla de Posiciones:','']
for i,x in enumerate(list_ids):
    a=x['name']
    ids.append(str(i+1) +' '+ a +(25-len(a))*' '+ str(0))

In [93]:
'\n'.join(ids)

' Tabla de Posiciones:\n\n1 fer                      0'

In [87]:

url = "https://api.telegram.org/bot5597623661:AAFyWZD91HiPIeaKmF89iIsxAp9lgmfF5Ig/sendMessage"

payload={'text': '```'+'\n'.join(ids)+'```',
'chat_id': '224798982',
'parse_mode': 'MarkdownV2'}

response = requests.request("POST", url,data=payload)

In [64]:
len('2 andres.armua@ed.ac.uk____0')

28

In [81]:
response

In [1]:
import requests

In [5]:
url='https://x14blnzsqf.execute-api.us-east-2.amazonaws.com/prod/fixture'

In [3]:
fix=requests.get(url)

In [4]:
fix

## TEST

In [1]:
import requests

headers = {
    'authority': 'x14blnzsqf.execute-api.us-east-2.amazonaws.com',
    'accept': 'application/json, text/plain, */*',
    'accept-language': 'en-US,en;q=0.9,es;q=0.8',
    'dnt': '1',
    'origin': 'https://www.lanacion.com.ar',
    'referer': 'https://www.lanacion.com.ar/',
    'sec-ch-ua': '"Google Chrome";v="107", "Chromium";v="107", "Not=A?Brand";v="24"',
    'sec-ch-ua-mobile': '?1',
    'sec-ch-ua-platform': '"Android"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',
    'user-agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Mobile Safari/537.36',
    'x-token': '36FE17A0-2E7B-456F-9855-124601188D55',
    'x-value': 'f794a873-33e0-40d1-99d0-c06331a6d507',
}

response = requests.get('https://x14blnzsqf.execute-api.us-east-2.amazonaws.com/prod/fixture', headers=headers)

In [2]:
response

In [3]:
fix=response.json()

In [4]:
len(fix)

64

In [5]:
fix[0]

{'match_id': 2277789,
 'points': 0,
 'team_1': 'Qatar',
 'team_1_id': 1873,
 'team_2': 'Ecuador',
 'team_2_id': 830,
 'goal_1': 4,
 'goal_2': 4,
 'goal_1_opta': 0,
 'goal_2_opta': 2,
 'penalty_1_opta': None,
 'penalty_2_opta': None,
 'winner': None,
 'group': 'A',
 'datetime': '2022-11-20T16:00:00Z',
 'locked': True,
 'minutes_left_to_start_match': -6841,
 'status': 'full_time'}

In [6]:
def partidosTerminados(fix):
    term=[]
    for x in fix:
        if x['status'] == 'full_time':
            term.append(x)
    return term

def partidosHoy(fix):
    hoy=[]
    for x in fix:
        dia=datetime.strptime(x['datetime'], '%Y-%m-%dT%H:%M:%S%z').date()
        if  dia == datetime.today().date():
            hoy.append(x)
    
    return hoy

In [7]:
from datetime import date

today = date.today()
today

datetime.date(2022, 11, 25)

In [8]:
fix[0]

{'match_id': 2277789,
 'points': 0,
 'team_1': 'Qatar',
 'team_1_id': 1873,
 'team_2': 'Ecuador',
 'team_2_id': 830,
 'goal_1': 4,
 'goal_2': 4,
 'goal_1_opta': 0,
 'goal_2_opta': 2,
 'penalty_1_opta': None,
 'penalty_2_opta': None,
 'winner': None,
 'group': 'A',
 'datetime': '2022-11-20T16:00:00Z',
 'locked': True,
 'minutes_left_to_start_match': -6841,
 'status': 'full_time'}

In [9]:
fix[0]['datetime']

'2022-11-20T16:00:00Z'

In [10]:
from datetime import datetime
from zoneinfo import ZoneInfo

datetime.strptime(fix[0]['datetime'], '%Y-%m-%dT%H:%M:%S%z').astimezone(ZoneInfo('America/Buenos_Aires'))

datetime.datetime(2022, 11, 20, 13, 0, tzinfo=zoneinfo.ZoneInfo(key='America/Buenos_Aires'))

In [11]:
datetime.strptime(fix[0]['datetime'], '%Y-%m-%dT%H:%M:%S%z').astimezone(ZoneInfo('America/Buenos_Aires')).hour

13

In [12]:
datetime.strptime(fix[0]['datetime'], '%Y-%m-%dT%H:%M:%S%z').date() == datetime.today().date()

False

In [13]:
finished=partidosTerminados(fix)

In [14]:
partidosHoy(fix)

[{'match_id': 2277810,
  'points': 0,
  'team_1': 'Gales',
  'team_1_id': 508,
  'team_2': 'Irán',
  'team_2_id': 1042,
  'goal_1': None,
  'goal_2': None,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': None,
  'group': 'B',
  'datetime': '2022-11-25T10:00:00Z',
  'locked': True,
  'minutes_left_to_start_match': -1,
  'status': 'playing'},
 {'match_id': 2277807,
  'points': 0,
  'team_1': 'Qatar',
  'team_1_id': 1873,
  'team_2': 'Senegal',
  'team_2_id': 1226,
  'goal_1': 1,
  'goal_2': 2,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': 1226,
  'group': 'A',
  'datetime': '2022-11-25T13:00:00Z',
  'locked': False,
  'minutes_left_to_start_match': 178,
  'status': 'pre_match'},
 {'match_id': 2277808,
  'points': 0,
  'team_1': 'Holanda',
  'team_1_id': 366,
  'team_2': 'Ecuador',
  'team_2_id': 830,
  'goal_1': 3,
  'goal_2': 4,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': 830,
  'group': 'A',
  'datetime': '2022-11-25T16:00:00Z',
  'locked': False,
  'minutes_left_to_start_match': 358,
  'status': 'pre_match'},
 {'match_id': 2277809,
  'points': 0,
  'team_1': 'Inglaterra',
  'team_1_id': 114,
  'team_2': 'EE.UU.',
  'team_2_id': 596,
  'goal_1': None,
  'goal_2': None,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': None,
  'group': 'B',
  'datetime': '2022-11-25T19:00:00Z',
  'locked': False,
  'minutes_left_to_start_match': 538,
  'status': 'pre_match'}]

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('results.csv')

In [17]:
df

,id,name,preds
0,12525649_lgtrombetta@gmail.com,Leonardo,"[{""S"":""0""},{""S"":""2""},{""S"":""1""},{""S"":""3""},{""S"":..."
1,83230506_esonoparecefuncionar@gmail.com,Mer,"[{""S"":""1""},{""S"":""2""},{""S"":""1""},{""S"":""2""},{""S"":..."
2,26915036_fede.barabas@gmail.com,Fede,"[{""S"":""0""},{""S"":""2""},{""S"":""1""},{""S"":""1""},{""S"":..."
3,415250188_nahuel.freitas@gmail.com,freitas,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""2""},{""S"":..."
4,1277024606_null,Juli,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""3""},{""S"":..."
5,720065757_ariel.haimovici@gmail.com,Ariel,"[{""S"":""0""},{""S"":""1""},{""S"":""0""},{""S"":""2""},{""S"":..."
6,153626114_null,Ionatan,"[{""S"":""1""},{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":..."
7,5206321186_ghisolfi_alina@hotmail.com,Alina,"[{""S"":""1""},{""S"":""0""},{""S"":""1""},{""S"":""2""},{""S"":..."
8,619906008_marianobarella@gmail.com,Mariano,"[{""S"":""1""},{""S"":""2""},{""S"":""1""},{""S"":""1""},{""S"":..."
9,666_ionatanlist@gmail.com,Pruebas,"[{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":""2""},{""S"":..."
10,630434327_andresarmua@gmail.com,Andres,"[{""S"":""1""},{""S"":""2""},{""S"":""0""},{""S"":""3""},{""S"":..."
11,224798982_culo@sfsd,fer,"[{""S"":""0""},{""S"":""0""},{""S"":""0""},{""S"":""0""},{""S"":..."
12,153626114_ionatan@gmail.com,Ionatan,"[{""S"":""1""},{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":..."
13,1277024606_gelpi640@gmail.com,Juli,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""3""},{""S"":..."

In [18]:
df.iloc[0].preds

'[{"S":"0"},{"S":"2"},{"S":"1"},{"S":"3"},{"S":"0"},{"S":"1"},{"S":"2"},{"S":"1"},{"S":"1"},{"S":"0"},{"S":"3"},{"S":"0"},{"S":"3"},{"S":"0"},{"S":"1"},{"S":"1"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"1"},{"S":"0"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"2"},{"S":"0"},{"S":"1"},{"S":"1"},{"S":"3"},{"S":"0"},{"S":"2"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"0"},{"S":"1"},{"S":"2"},{"S":"0"},{"S":"3"},{"S":"1"},{"S":"1"},{"S":"1"},{"S":"2"},{"S":"2"},{"S":"0"},{"S":"2"},{"S":"0"},{"S":"1"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"1"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"2"},{"S":"0"},{"S":"3"},{"S":"1"},{"S":"2"},{"S":"0"},{"S":"2"},{"S":"3"},{"S":"0"},{"S":"2"},{"S":"0"},{"S":"1"},{"S":"0"},{"S":"1"},{"S":"2"},{"S":"1"},{"S":"0"},{"S":"1"},{"S":"0"},{"S":"3"},{"S":"0"},{"S":"1"},{"S":"1"},{"S":"2"},{"S":"1"},{"S":"0"},{"S":"1"},{"S":"1"},{"S":"5"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"1"},{"S":"0"},{"S":"1"},{"S":"1"},{"S":"1"},{"S":"0"},{"S":"2"},{"S":"1"},{"S":"3"}]'

In [19]:
import json

In [20]:
preds=json.loads(df.iloc[0].preds)

In [21]:
len(preds)

96

In [22]:
import numpy as np
apreds=np.array(preds)
preds2=apreds.reshape([8,12])

In [23]:
preds2[0]

array([{'S': '0'}, {'S': '2'}, {'S': '1'}, {'S': '3'}, {'S': '0'},
       {'S': '1'}, {'S': '2'}, {'S': '1'}, {'S': '1'}, {'S': '0'},
       {'S': '3'}, {'S': '0'}], dtype=object)

In [24]:
fpreds=[]
for x in preds2:
    fpreds.append(x.reshape([6,2]))

In [28]:
fpreds

[array([[{'S': '0'}, {'S': '2'}],
        [{'S': '1'}, {'S': '3'}],
        [{'S': '0'}, {'S': '1'}],
        [{'S': '2'}, {'S': '1'}],
        [{'S': '1'}, {'S': '0'}],
        [{'S': '3'}, {'S': '0'}]], dtype=object),
 array([[{'S': '3'}, {'S': '0'}],
        [{'S': '1'}, {'S': '1'}],
        [{'S': '1'}, {'S': '0'}],
        [{'S': '2'}, {'S': '1'}],
        [{'S': '0'}, {'S': '1'}],
        [{'S': '0'}, {'S': '2'}]], dtype=object),
 array([[{'S': '2'}, {'S': '0'}],
        [{'S': '1'}, {'S': '1'}],
        [{'S': '3'}, {'S': '0'}],
        [{'S': '2'}, {'S': '1'}],
        [{'S': '0'}, {'S': '2'}],
        [{'S': '0'}, {'S': '1'}]], dtype=object),
 array([[{'S': '2'}, {'S': '0'}],
        [{'S': '3'}, {'S': '1'}],
        [{'S': '1'}, {'S': '1'}],
        [{'S': '2'}, {'S': '2'}],
        [{'S': '0'}, {'S': '2'}],
        [{'S': '0'}, {'S': '1'}]], dtype=object),
 array([[{'S': '1'}, {'S': '0'}],
        [{'S': '2'}, {'S': '1'}],
        [{'S': '1'}, {'S': '0'}],
        [{'S': '2'}, {'S': '2'}],
        [{'S': '0'}, {'S': '3'}],
        [{'S': '1'}, {'S': '2'}]], dtype=object),
 array([[{'S': '0'}, {'S': '2'}],
        [{'S': '3'}, {'S': '0'}],
        [{'S': '2'}, {'S': '0'}],
        [{'S': '1'}, {'S': '0'}],
        [{'S': '1'}, {'S': '2'}],
        [{'S': '1'}, {'S': '0'}]], dtype=object),
 array([[{'S': '1'}, {'S': '0'}],
        [{'S': '3'}, {'S': '0'}],
        [{'S': '1'}, {'S': '1'}],
        [{'S': '2'}, {'S': '1'}],
        [{'S': '0'}, {'S': '1'}],
        [{'S': '1'}, {'S': '5'}]], dtype=object),
 array([[{'S': '1'}, {'S': '0'}],
        [{'S': '2'}, {'S': '1'}],
        [{'S': '0'}, {'S': '1'}],
        [{'S': '1'}, {'S': '1'}],
        [{'S': '0'}, {'S': '2'}],
        [{'S': '1'}, {'S': '3'}]], dtype=object)]

In [29]:
len(fix[:48])

48

In [30]:
def calculoPuntos(fix,n):
    print(df.name.iloc[n])
    preds=json.loads(df.preds.iloc[n])
    finished=partidosTerminados(fix)
    preds_dict=get_preds_dict(fix,preds)
    puntos=[]
    for x in finished:
        print('Resultado:',x['team_1'],x['goal_1_opta'],x['team_2'],x['goal_2_opta'])
        print('Prediccion:',x['team_1'],preds_dict[x['match_id']][0]['S'],x['team_2'],preds_dict[x['match_id']][1]['S'])

        resultado = (int(x['goal_1_opta']), int(x['goal_2_opta']))
        prediccion = (int(preds_dict[x['match_id']][0]['S']), int(preds_dict[x['match_id']][1]['S']))
        score=puntaje(prediccion, resultado)
        puntos.append(score)
        print('Obtuviste:',score ,'puntos')
        print()
    print('Total ',np.array(puntos).sum(),'Puntos.')

def calculoScore(fix,preds):
    finished=partidosTerminados(fix)
    preds_dict=get_preds_dict(fix,preds)
    puntos=[]
    for x in finished:
  
        resultado = (int(x['goal_1_opta']), int(x['goal_2_opta']))
        prediccion = (int(preds_dict[x['match_id']][0]['S']), int(preds_dict[x['match_id']][1]['S']))
        score=puntaje(prediccion, resultado)
        puntos.append(score)
    return np.array(puntos).sum()

In [31]:
def get_preds_dict(fix,preds):
    groups=['A','B','C','D','E','F','G','H']

    fixGrupos=[]
    for n in groups:
        grupo=[]
        for x in fix[:48]:
            if x['group']== n:
                grupo.append(x)
        fixGrupos.append(grupo)       

    ids_partidos=[]
    for i,x in enumerate(fixGrupos):
        for j,y in enumerate(x):
            if j == 4:
                ids_partidos.append(x[5]['match_id'])
            elif j == 5:
                ids_partidos.append(x[4]['match_id'])
            else:
                ids_partidos.append(y['match_id'])
    apreds=np.array(preds)
    preds48x2=apreds.reshape([48,2])
    preds_dict=dict(zip(ids_partidos, preds48x2))     
    return preds_dict

def puntaje(prediccion, resultado):
    if prediccion == resultado:
        return 5

    if np.sign(resultado[0] - resultado[1]) == np.sign(prediccion[0] - prediccion[1]):
        return 3

    return 0

In [32]:
df

,id,name,preds
0,12525649_lgtrombetta@gmail.com,Leonardo,"[{""S"":""0""},{""S"":""2""},{""S"":""1""},{""S"":""3""},{""S"":..."
1,83230506_esonoparecefuncionar@gmail.com,Mer,"[{""S"":""1""},{""S"":""2""},{""S"":""1""},{""S"":""2""},{""S"":..."
2,26915036_fede.barabas@gmail.com,Fede,"[{""S"":""0""},{""S"":""2""},{""S"":""1""},{""S"":""1""},{""S"":..."
3,415250188_nahuel.freitas@gmail.com,freitas,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""2""},{""S"":..."
4,1277024606_null,Juli,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""3""},{""S"":..."
5,720065757_ariel.haimovici@gmail.com,Ariel,"[{""S"":""0""},{""S"":""1""},{""S"":""0""},{""S"":""2""},{""S"":..."
6,153626114_null,Ionatan,"[{""S"":""1""},{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":..."
7,5206321186_ghisolfi_alina@hotmail.com,Alina,"[{""S"":""1""},{""S"":""0""},{""S"":""1""},{""S"":""2""},{""S"":..."
8,619906008_marianobarella@gmail.com,Mariano,"[{""S"":""1""},{""S"":""2""},{""S"":""1""},{""S"":""1""},{""S"":..."
9,666_ionatanlist@gmail.com,Pruebas,"[{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":""2""},{""S"":..."
10,630434327_andresarmua@gmail.com,Andres,"[{""S"":""1""},{""S"":""2""},{""S"":""0""},{""S"":""3""},{""S"":..."
11,224798982_culo@sfsd,fer,"[{""S"":""0""},{""S"":""0""},{""S"":""0""},{""S"":""0""},{""S"":..."
12,153626114_ionatan@gmail.com,Ionatan,"[{""S"":""1""},{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":..."
13,1277024606_gelpi640@gmail.com,Juli,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""3""},{""S"":..."

# Armo la tabla

In [34]:
def tablapuntos(x):
    preds=json.loads(x)
    return calculoScore(fix,preds)

In [35]:
puntos=df.preds.apply(lambda x: tablapuntos(x))

In [36]:
df['puntos']=puntos

In [37]:
df.sort_values('puntos',ascending=False)

,id,name,preds,puntos
0,12525649_lgtrombetta@gmail.com,Leonardo,"[{""S"":""0""},{""S"":""2""},{""S"":""1""},{""S"":""3""},{""S"":...",39
5,720065757_ariel.haimovici@gmail.com,Ariel,"[{""S"":""0""},{""S"":""1""},{""S"":""0""},{""S"":""2""},{""S"":...",39
2,26915036_fede.barabas@gmail.com,Fede,"[{""S"":""0""},{""S"":""2""},{""S"":""1""},{""S"":""1""},{""S"":...",33
8,619906008_marianobarella@gmail.com,Mariano,"[{""S"":""1""},{""S"":""2""},{""S"":""1""},{""S"":""1""},{""S"":...",33
1,83230506_esonoparecefuncionar@gmail.com,Mer,"[{""S"":""1""},{""S"":""2""},{""S"":""1""},{""S"":""2""},{""S"":...",30
3,415250188_nahuel.freitas@gmail.com,freitas,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""2""},{""S"":...",30
4,1277024606_null,Juli,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""3""},{""S"":...",29
6,153626114_null,Ionatan,"[{""S"":""1""},{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":...",29
13,1277024606_gelpi640@gmail.com,Juli,"[{""S"":""1""},{""S"":""1""},{""S"":""0""},{""S"":""3""},{""S"":...",29
7,5206321186_ghisolfi_alina@hotmail.com,Alina,"[{""S"":""1""},{""S"":""0""},{""S"":""1""},{""S"":""2""},{""S"":...",27
10,630434327_andresarmua@gmail.com,Andres,"[{""S"":""1""},{""S"":""2""},{""S"":""0""},{""S"":""3""},{""S"":...",27
12,153626114_ionatan@gmail.com,Ionatan,"[{""S"":""1""},{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":...",24
9,666_ionatanlist@gmail.com,Pruebas,"[{""S"":""1""},{""S"":""1""},{""S"":""2""},{""S"":""2""},{""S"":...",23
11,224798982_culo@sfsd,fer,"[{""S"":""0""},{""S"":""0""},{""S"":""0""},{""S"":""0""},{""S"":...",23

In [42]:
df2=df.sort_values('puntos',ascending=False)

In [45]:
df2.drop(['id','preds'], axis=1)

        name  puntos
0   Leonardo      39
5      Ariel      39
2       Fede      33
8    Mariano      33
1        Mer      30
3    freitas      30
4       Juli      29
6    Ionatan      29
13      Juli      29
7      Alina      27
10    Andres      27
12   Ionatan      24
9    Pruebas      23
11       fer      23

# Partidos Hoy

In [38]:
partidosHoy(fix)

[{'match_id': 2277810,
  'points': 0,
  'team_1': 'Gales',
  'team_1_id': 508,
  'team_2': 'Irán',
  'team_2_id': 1042,
  'goal_1': None,
  'goal_2': None,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': None,
  'group': 'B',
  'datetime': '2022-11-25T10:00:00Z',
  'locked': True,
  'minutes_left_to_start_match': -1,
  'status': 'playing'},
 {'match_id': 2277807,
  'points': 0,
  'team_1': 'Qatar',
  'team_1_id': 1873,
  'team_2': 'Senegal',
  'team_2_id': 1226,
  'goal_1': 1,
  'goal_2': 2,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': 1226,
  'group': 'A',
  'datetime': '2022-11-25T13:00:00Z',
  'locked': False,
  'minutes_left_to_start_match': 178,
  'status': 'pre_match'},
 {'match_id': 2277808,
  'points': 0,
  'team_1': 'Holanda',
  'team_1_id': 366,
  'team_2': 'Ecuador',
  'team_2_id': 830,
  'goal_1': 3,
  'goal_2': 4,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': 830,
  'group': 'A',
  'datetime': '2022-11-25T16:00:00Z',
  'locked': False,
  'minutes_left_to_start_match': 358,
  'status': 'pre_match'},
 {'match_id': 2277809,
  'points': 0,
  'team_1': 'Inglaterra',
  'team_1_id': 114,
  'team_2': 'EE.UU.',
  'team_2_id': 596,
  'goal_1': None,
  'goal_2': None,
  'goal_1_opta': None,
  'goal_2_opta': None,
  'penalty_1_opta': None,
  'penalty_2_opta': None,
  'winner': None,
  'group': 'B',
  'datetime': '2022-11-25T19:00:00Z',
  'locked': False,
  'minutes_left_to_start_match': 538,
  'status': 'pre_match'}]

In [39]:
def printHoy():
    hoy=partidosHoy(fix)
    for x in hoy:
        print(x['team_1'],' vs. ',x['team_2'],'-',datetime.strptime(x['datetime'], '%Y-%m-%dT%H:%M:%S%z').astimezone(ZoneInfo('America/Buenos_Aires')).hour,'Hs.')

In [40]:
printHoy()

Gales  vs.  Irán - 7 Hs.
Qatar  vs.  Senegal - 10 Hs.
Holanda  vs.  Ecuador - 13 Hs.
Inglaterra  vs.  EE.UU. - 16 Hs.